<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 card" style="background-image: url('<%= asset_path 'Picture_1.jpg' %>')">
      <!-- insert <div class="card"> -->
      <p>Hello</p>
    </div>
    <div class="col-xs-12 col-sm-4 card" style="background-image: url('<%= asset_path 'Picture_2.jpg' %>')">

      <!-- insert <div class="card"> -->
      <p>Hello2</p>
    </div>
    <div class="col-xs-12 col-sm-4 card" style="background-image: url('<%= asset_path 'Picture_3.jpg' %>')">
      <!-- insert <div class="card"> -->
      <p>Hello3</p>
    </div>
  </div>
</div>
