<div class="container">
  <div class="row">
    <% @artworks.each do |artwork| %>
        <div class="col-xs-12 col-sm-4 card">
      <%= link_to artwork_path(artwork) do %>
          <div class="card" style="background-image: url('<%= artwork.image_url %>')">
            <div class="card-category">Jordan Picasso</div>
              <div class="card-description">
                <h2><%= artwork.title %></h2>
                <p><%= artwork.category  %></p>
              </div>
                <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/jordas">
          </div>
      <% end %>
        </div>
    <% end %>
  </div>
</div>

