.background_creation_image {
  color: white;
  background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dudbiloo/image/upload/v1503604736/bvpklztqxc2ub5rgcq5i.jpg');
  opacity: 0.7;
}
// url('background_artwork_creation.jpeg')
