.artwork-profile{
  width: 40%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.artwork-container {
  display: flex;
}

.artwork-img{
  width: 60%;
}

.image_sizer {
  padding-top: 100px;
  max-width: 800px;
  max-height: 400px;
  margin: 0 auto;
}

.artwork-user h3 {
  font-weight: bold;
  font-size: 20px;
}

.user-title {
  display: flex;
  align-items: center;
}

.info h2{
  margin-top: 40px;
  margin-left: 100px;
}

.info li{
  list-style: none;
}

.buy-btn{
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 10px;
}

#map-show{
  width: 50%;
}

.showcard-user {
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
  width: 100px;
  margin: 20px;
}
