.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer ul li a {

  padding: 10px 15px;
}

.footer-btns {

  display: flex;
  align-items: center;
  justify-content: space-between;

}
