.footer {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgb(30,30,30);
  margin: none;
}

.footer ul li {
  list-style-type: none;
  // padding: 10px 15px;
}

.copyright p {
  color: rgb(140,140,140);
}

.footer-btns {

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-align{
   display: flex;
   justify-content: space-between;
   padding: 10px 10px;
}

.fa {
  color: rgb(140,140,140);
}

